/*Todo:
At some point, you will need to make different font sizes and widths for different screens. you can look at the bitclub website to see how. 




/*make the box of the image have a neon green outline. It'll be easier to see when the image transitions.*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*
Color Pallette:
rgb(26, 26, 26);
rgb(53, 53, 53);
rgb(87, 87, 87);
rgb(0, 100, 0);
the class below helps to visualize this. other than that it has no purpose
*/


  




/*Animations and Key Frames----------------------------*/
@keyframes navbarHover{
  from{
    background-color: rgb(53, 53, 53);
  }
  to{
    background-color: rgb(87, 87, 87);
  }
}

@keyframes officerNavBarHover{
  from{
    background-color: rgba(0, 0, 0, 0.164);
  }
  to{
    background-color: rgba(109, 109, 109, 0.5);
  }
}


@keyframes enlarge-button{
  from{
    font-size:2vw;
    color: azure;
  }
  to{
    font-size:2.5vw;
    color: rgb(0, 255, 0);
  }
}

@keyframes register-button-hover{
  from{
    background-color: rgba(0, 0, 0, 0.349) ;
    font-size: 2vw;
  }
  to{
    background-color:  rgba(0, 255, 0, 0.5);
    font-size: 2.2vw;
  }
}


@keyframes pop-up-transition{
  from{
    opacity: 0%;
    top: -1100px;
  }
  to{
    opacity: 100%;
    top: 0px;
  }
}

@keyframes glow{
  from{
    color: rgb(0, 255, 0);
  }
  to{
    color: rgb(234, 255, 234)
  }
}


@keyframes fade-in-fade-out{
  from{
    opacity:100%;
  }
  to{
    opacity: 0%;
  }
}






.color-pallette{
  background-color: rgb(26, 26, 26);
  background-color: rgb(53, 53, 53);
  background-color: rgb(87, 87, 87);
  background-color: rgb(0, 255, 0);
  background-color: azure;
}
/*Font Stylings-----------------------------*/
.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.orbitron-font {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}


/*Body Styling*/
html, body{
  overflow-x: hidden;
  max-width: 100%;
}
body{
  margin: 0px;
  background-color: rgb(26, 26, 26);
	
}


h1, h2, h3{
  color:azure;
  
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  display: block;
  text-align: center;
}

li {
  list-style: none;
}

p{
  color: azure;
  margin: 18px;
  display: block;
  padding: 12px;
}

button {
  border-radius: 3em;
  background-color: rgb(53, 53, 53);
  color: azure;
  font-size: 2vw;
  padding: 10px;
  border-style: none;
  transition: 0.5s;
}

img{
  height: auto;
  max-width: 100%;
}
a{
  text-decoration: none;
}

/*Speacial Classes--------------*/


/*carousel-container*/
/*this container is meant to hold a multitude of images.*/
.carousel-container{

}

.slider-wrapper{
  position: relative;
  max-width: 35vw;
  margin: 0 auto;
}

.slider{
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 2.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: rgb(53, 53, 53);
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover{
  opacity: 100%;
  background-color: rgb(87, 87, 87);
  cursor: pointer;
}

/*scroll-container:
this class basically does what it says. It turns a page into a scroll container.*/
.scroll-container{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroll-container > * {
  scroll-snap-align: start;
}

/*This style is for the images on the home page that are not in the slider*/
.home-page-image{
  flex: 1 0 100%;
  object-fit: cover;
  width: 40rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.home-page-image-container{
  display: flex;
  aspect-ratio: 6/4;
  width: 20vw;
  padding: 0;
  margin:0
}

/*class green: this changes the color of an element's text to green.*/
.green-header{
  color: rgb(0, 255, 0);
}
/*Navbar class. just a class for the navbar. don't expect me to make to many more comments like this...*/
.navbar {
  background-color: rgb(53, 53, 53);
  top: 0px;
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.5s;
}

.no-margins{
  margin: 0px;
}
.half-margin{
  margin: 50%;
}
.no-padding{
 padding: 0px;
}

.navbar li{
  padding-left: 40px;
  padding-right: 40px;
  transition-duration: 0.5s;
}
.navbar h2{
  text-decoration: none;
  transition: 0.3s;
}
.navbar li:hover{
  
  animation-name: navbarHover;
  animation-direction: alternate;
  animation-duration: 0.5s;
  background-color: rgb(87, 87, 87);
}

.navbar li:active{
    animation-direction: alternate;
    animation-name: selected;
    animation-duration: 0.1s;

}





/*This is an "overlap" class. since I might have multiple elements that will just overlap one thing, 
would rather make a class that has that specification. This will just update the z-index of an element to one. */
.overlap{
  z-index: 1;
}

/*This class is just meant to just center elements. */
.center{
  margin-left: auto;
  margin-right:auto;
}
/*this class is meant to center the content inside an element*/
.center-content{
  margin-left: auto;
  margin-right: auto;
}


/*Container Classes*/
/*slanted light-grey banner: this banner is slanted and is meant to contain some text. since I don't know
how to skew a shape without transfroming the entire object, it is meant to hang onto the edge of the screen.
You can change the height though! the "child" class here is needed to unskew the text.*/
.left-slanted-light-grey-banner{
  background-color: rgb(87, 87, 87);
  background-image: linear-gradient(to right, rgb(68, 68, 68),rgb(118, 118, 118));
  width: fit-content;
  padding-right: 50px;
  padding-left: 50px;
  transform:  translateX(-6vw) skewX(-40deg);
 
}
.right-slanted-light-grey-banner{
  
  background-image: linear-gradient(to left, rgb(68, 68, 68),rgb(118, 118, 118));
  width:fit-content;
  padding-right: 50px;
  padding-left: 50px;
  justify-content:center;
  transform: translateX(3vw) skew(40deg);
  transition: 0.5s;
 
}

.left-slanted-light-grey-banner h1{
  transform: skew(40deg);
  margin: 10px;
  font-size: 2vw;
}
.right-slanted-light-grey-banner h1{
  transform: skew(-40deg);
  margin: 10px;
  font-size: 1.5vw;
}

/*yeah I copied your code. what are you gonna do about it?*/
.image-container{
  text-align: center;
  
}





/*this is meant for div that has an image an a paragaph inside it. It makes it way easier to align.*/
.image-paragraph-container{
  display: flex;
  flex-direction: column;
  width:fit-content;
}

.description-box{
  margin:0px;
  height: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  background-color: rgb(87, 87, 87);
  width:fit-content;
}

.about-image{
  max-width: 100%;
  border-radius: 30px;
}
.officer-image{
  max-width: 22vw;
  border-radius: 30px;
}

.transparent-paragraph{
  border-radius: 30px;
  border-color: azure;
  background-color: rgba(0, 0, 0, 0);
  border-style:solid;
  border-width: 2px;
}


.officer-label{
  font-size: 3vw;
  width:fit-content;
  padding-left: 35px;
  padding-right: 35px;
}
.officer-professor{
  max-width: 17vw ;
  border-radius: 20px;
}
/*because i liked this officer style, I changed I making another to use everywhere. I'm too lazy to change its name on the other 
page right now. */
.fit-label{
  font-size: 3.6vw;
  width:fit-content;
  padding-left: 35px;
  padding-right: 35px;
}

/*same here. I found this to be wonderful, I'm reusing it. this class allows me to use it everyone else. too lazy to change rn.*/
.officer-description{
  width: 90%;
  font-size: 1.8vw;
  margin-bottom: 90px;
  font-weight: 800%;
  text-align: center; 
}

.officer-container{
  display: flex;
  padding-left: 5vw;
  padding-right: 5vw;
 justify-content:space-between;
 align-items: center;
 flex-grow: 0;
}
/*this container is mainly meanth for the home page. It just centers items in a column*/
.column-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: flex-start;
}
.row-container{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  transition: 0.5s;
 
}

/*flex styles. these are so I can apply them without messing up all the other elements*/
.justify-start{
  justify-content: flex-start;
  padding-top: 5rem;
  align-items: center;
}

.fact-container{
  padding: 10px;
  background-color: rgb(87, 87, 87);
  border-radius: 20px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  justify-items: flex-start;
  align-items: center;
}

.fact-container h3{
 font-size: 2vw;
 margin-top: 0px;
 margin-bottom: 1vw;
}
.fact-container h2{
  font-size: 1.5vw;
}


.fact-text{
  font-size: 1.3vw;
  font-weight: 800%;
  text-align: center; 
  margin: 0px;
  padding: 0px;
}

.fit-description{
  width: 40vw;
  font-size: 1.6vw;
  margin-bottom: 5vw;
  margin-top: 0;
  text-align: center;
}

.officer-navbar{
  padding:0px;
  margin: 0px;
  position:fixed;
  left:0px;
  top: 13vw;
  background-color: rgba(0, 0, 0, 0.349);
  border-radius: 20px;
  width: auto;
  

}

.officer-navbar h3{
  margin:0px;
   font-size: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top:1vw;
    padding-bottom: 1vw;
    transition-duration: 0.5s;
}

.officer-navbar h3:hover{
  cursor: pointer;
  animation-name: officerNavBarHover;
  animation-direction: alternate;
  animation-duration: 0.5s;
  background-color: rgba(109, 109, 109, 0.5);
}

.event-button{
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.5s;
}

/*I made this because I did not want to continue making id's for headers.*/
.large-header{
  font-size: 4.5vw;
}

.rounded-edge{
  border-radius: 30px;
}


/*Pop UP classes-------------------------------------------------------------------------------------*/
.modal{
  display: none;
  background-color: rgba(0, 0, 0, 0.164);
  padding-top: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  animation:normal;
  animation-name: pop-up-transition;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}



.modal-content{
  display: flex;
  background-color: rgb(53, 53, 53);
  border-radius: 30px;
  border-color: azure;
  width: 60rem;
  height: auto;
  justify-items: left;

}
.modal-box{
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 40px;

  align-items: center;
}
.modal-button{
 padding-left: 20px;
 padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.349);
  transition: 0.5s;
}
.modal-button:hover{
  animation:normal;
  animation-name: register-button-hover;
  animation-duration: 0.5s;
  background-color:  rgba(0, 255, 0, 0.5);
  cursor: pointer;
  font-size: 2.2vw;

}
.modal-paragraph{
  font-size: 1.5vw;
}
.close-text{
  animation-name: fade-in-fade-out;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  padding: 0;
 
}
.event-graphic{
  max-width: 27vw;
}

.event-list{
  display: flex;
  flex-direction:column;
  padding: 0px;
 }
 
 .event-list :hover{
   animation-name: enlarge-button;
   animation-direction:normal;
   animation-duration: 0.5s;
   font-size: 2.5vw;
   color: rgb(0, 255, 0);
   cursor: pointer;
 }


.about-div{
  justify-content: start;
}


/*ID's---------------------------------*/

/*Bitclub logo ID: this id exists becuase I need to specifically change the bitclub logo, and nothing else needs this styling.
it has a max width and is meant to be put in an "image container" */
#bitclublogo{
  max-width: 70%;
  transition: 0.5s;
}
/*promoImg: t50his is for the promotional image on the home page... it will be multiple images combined into to one to emulate a 
"scrolling" effect.
all images need to be the same width and height before they are combined.*/


#register-button :hover{
  animation-name: navBarHover;
  animation-duration: 0.5s;
  animation-direction: normal;
  background-color: rgb(87, 87, 87);
  cursor: pointer;
}

#register-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1vw;
}


#nextEventHeader{
  font-size: 3vw;
  text-shadow: 100px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/*this div contains the paragraph and image for the news on the home page. Since everything flows centered, I needed
to reposition it in the right place.*/

/*About Page tags-----------------------------*/
#about-header{
  font-size: 6vw;
}

#bottom-left-about-image{
  max-width: 68%;
}


#about-description{
  text-align: center;
  font-size: 1.4vw;
  font-weight: 700;
  width: 50vw;
}





/*Officer Page tags-------------------*/
#officer-header{
  font-size: 6vw;
}



#president-image{
}

/*I needed to make these since some of the descriptions written are longer than others.*/


#secretary-description{
  width: 90%;
}

#chaplain-description{
  width: 70%;
}
#social-media-manager-description{
  width: 70%;
}

#number1{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#number5{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*Labels for the officers page: this is to enbale auto page scrolling/hopping*/
#president-label{
}

#vp-label{
}

#secretary-label{
}

#chaplain-label{
}

#social-media-manager-label{
}


/*Event page id's------------------------------------------*/
#events-label{
  font-size: 7vw;

}
#next-event-div{
  width: 26vw;
}
#recap-image{
  max-width: 40%;
  transition: 0.5s;
}



#event-container-1{
  justify-content: flex-start;
}

#next-event-button{
  margin-top: 0;
  margin-bottom: 0;
}

/*Event Graphics*/
#kickOffGraphic{
  max-width: 27vw;
}


/*temporary ID's... delete these after production*/
#content1{

}

/*media queries*/
/*Navigation Bar----------------------------------*/








/*News and Quote Divs*/
@media (max-width: 1175px){
    .right-slanted-light-grey-banner {
      transform: translateX(60px) skew(40deg)
    }
  }

@media (max-width: 1100px){

  .description-box{
    font-size: 1.2vw;
  }
  /*I'll have to comment this out later. so I'll organize what styles apply to what and put all the media 
  queries in order. Instead of making more, I should use the
  cs principle of 'resuse' This style here is for the events page.*/
  #recap-image{
    max-width: 70%;
  }

  /*this is for the short description underneath the recap-image on the events page.*/
  .fit-description{
    font-size: 3vw;
    width: 80%;
  }

  /*this is for the event buttons that are underneath the 'All events in order' label*/
  

  #next-event-button{
    font-size: 1.8vw;
  }

 /*this style is for the contianer on the about page holding all the elements*/
  #middle-about-div{
    max-width: 50%;
  }
  #about-description{
    width: 30vw;
  }


  @keyframes enlarge-button{
    from{
      font-size:3vw;
      color: azure;
    }
    to{
      font-size:3.5vw;
      color: rgb(0, 255, 0);
    }
  }

  .event-list :hover{
    font-size: 3.5vw;
  }
  .event-button{
    font-size: 3vw;
  }
}


/*Bit club logo
Slanted Banner*/
@media (max-width: 1020px){
  #bitclublogo{
    max-width: 85%;
  }
  .right-slanted-light-grey-banner h1{
    font-size: 1.5vw;
  }
  .right-slanted-light-grey-banner{
    padding-left: 20px;
    padding-right: 20px;
    transform: translateX(30px) skew(40deg);
  }


}

  @media (max-width: 1000px){
    .right-slanted-light-grey-banner{
      transform: translateX(50px) skew(40deg)
    }

    .modal-content{
      width: 80vw;
    }
    .event-graphic{
      max-width: 40vw;
    }
    .modal-paragraph{
      font-size: 2vw;
    }
  }

@media (max-width: 890px){
  .right-slanted-light-grey-banner{
    transform: translateX(30px) skew(40deg)
  }

  /*this is for the next event banner on the events page.*/
  #next-event-button{
    font-size: 1.8vw;
  }
}


@media (max-width: 750px) {

  .navbar li{
    padding-left: 30px;
    padding-right:30px;
  }

  /*this style is for the next event banner on the events page.*/
  #next-event-banner h1{
    font-size: 2.8vw;
  }
  #next-event-banner{
    padding-left: 30px;
    padding-right: 30px;
  }

  #about-description{
    font-size: 2vw;
    width: fit-content;
  }

  #about-header{
    font-size: 7vw;
  }
  #about-container{
    flex-direction: column;
   
  }
  #middle-about-div{
    flex-direction: column;
    max-width: 100%
  }
  #bottom-left-about-image{
    max-width: 100%;
  }
  .about-image{
    border-radius: 10px;
  }
  .about-div{
    flex-direction: row;
    justify-content: center;

  }
  
  /*this style is for the modal content.*/
  .modal-paragraph{
    font-size: 2vw;
  }
  .event-graphic{
    max-width: 35vw
  }

}


@media (max-width: 680px){
  .navbar li{
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #about-description{
    font-size: 3vw;
  }

}


@media (max-width: 520px){
  .navbar h2{
    font-size: 3.7vw;
  }
}


@media (hover :hover){
  .carousel-container{
    animation-name: to-right;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-direction: normal;

  }
}