/*Todo:
At some point, you will need to make different font sizes and widths for different screens. you can look at the bitclub website to see how. 

make the box of the image have a neon green outline. It'll be easier to see when the image transitions.*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*
Color Pallette:
rgb(26, 26, 26);
rgb(53, 53, 53);
rgb(87, 87, 87);
rgb(0, 100, 0);
the class below helps to visualize this. other than that it has no purpose
*/

/*Animations and Key Frames----------------------------*/
@keyframes navbarHover{
  from{
    background-color: rgb(53, 53, 53);
  }
  to{
    background-color: rgb(87, 87, 87);
  }
}






.color-pallette{
  background-color: rgb(26, 26, 26);
  background-color: rgb(53, 53, 53);
  background-color: rgb(87, 87, 87);
  background-color: rgb(0, 255, 0);
  background-color: azure;
}
/*Font Stylings-----------------------------*/
.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.orbitron-font {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}


/*Body Styling*/
html, body{
  overflow-x: hidden;
  max-width: 100%;
}
body{
  margin: 0px;
  background-color: rgb(26, 26, 26);
}


h1, h2, h3{
  color:azure;
  
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  display: block;
  text-align: center;
}

li {
  list-style: none;
}

p{
  color: azure;
  margin: 18px;
  display: block;
  padding: 12px;
}

button {
  border-radius: 3em;
  background-color: rgb(65, 65, 65);
  color: azure;
  font-size: 30px;
  padding: 10px;
  border-style: none;
}

img{
  height: auto;
}
a{
  text-decoration: none;
}

/*Speacial Classes--------------*/

/*class green: this changes the color of an element's text to green.*/
.green-header{
  color: rgb(0, 255, 0);
}
/*Navbar class. just a class for the navbar. don't expect me to make to many more comments like this...*/
.navbar {
  background-color: rgb(53, 53, 53);
  top: 0px;
  display: flex;
  align-items: center;
  justify-content:center;
 
  margin: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
 
  


  
}

.navbar li{
  padding-left: 40px;
  padding-right: 40px;
  transition-duration: 0.5s;
}
.navbar h2{
  text-decoration: none;
}
.navbar li:hover{
  
  animation-name: navbarHover;
  animation-direction: alternate;
  animation-duration: 0.5s;
  background-color: rgb(87, 87, 87);
}





/*This is an "overlap" class. since I might have multiple elements that will just overlap one thing, 
would rather make a class that has that specification. This will just update the z-index of an element to one. */
.overlap{
  z-index: 1;
}

/*This class is just meant to just center elements. */
.center{
  margin-left: auto;
  margin-right:auto;
}
/*this class is meant to center the content inside an element*/
.center-content{
  display: flex;
  justify-content:center;
}


/*Container Classes*/
/*slanted light-grey banner: this banner is slanted and is meant to contain some text. since I don't know
how to skew a shape without transfroming the entire object, it is meant to hang onto the edge of the screen.
You can change the height though! the "child" class here is needed to unskew the text.*/
.left-slanted-light-grey-banner{
  background-color: rgb(87, 87, 87);
  width:auto;
  padding-right: 50px;
  padding-left: 50px;
  position:absolute;
  left: -3%;
  display: flex;
  justify-content:center;
  transform: skew(-40deg);
 
}
.right-slanted-light-grey-banner{
  background-color: rgb(87, 87, 87);
  width:auto;
  padding-right: 50px;
  padding-left: 50px;
  position:absolute;
  right: -3%;
  display: flex;
  justify-content:center;
  transform: skew(40deg);
 
}

.left-slanted-light-grey-banner h1{
  transform: skew(40deg);
  margin: 10px;
}
.right-slanted-light-grey-banner h1{
  transform: skew(-40deg);
  margin: 10px;
}

/*yeah I copied your code. what are you gonna do about it?*/
.image-container{
  text-align: center;
  
}
/*this is meant for div that has an image an a paragaph inside it. It makes it way easier to align.*/
.image-paragraph-container{
  display: flexbox;
  margin: 30px;
}

.description-box{
  margin:0px;
  display: flex;
  height: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  background-color: rgb(87, 87, 87);
}

.about-image{
  max-width: 25%;
  border-radius: 30px;
}

.black-paragraph{
  border-radius: 30px;
  border-color: azure;
  background-color: black;
  border-style:solid;
  border-width: 1px;
}
/*ID's---------------------------------*/

/*Bitclub logo ID: this id exists becuase I need to specifically change the bitclub logo, and nothing else needs this styling.
it has a max width and is meant to be put in an "image container" */
#bitclublogo{
  max-width: 40%;

}

/*promoImg: t50his is for the promotional image on the home page... it will be multiple images combined into to one to emulate a 
"scrolling" effect.
all images need to be the same width and height before they are combined. These dimesnions are 
880 x 664 pixels. Even after this they are scaled down by 0.5. not gonna fix what ain't broke. */
#eventImg{
  max-width: 40%;
  border-radius: 30px;
}



#nextEventHeader{
  font-size: 80px;
  text-shadow: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}


#newsImgContainer{
  margin: 0px;
  padding: 0px;
  justify-content: left;
}
#newsDescription{
  width: 319px;
}

#newsImg{
  width: 343px;/*perfect width for this image.*/
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/*this div contains the paragraph and image for the news on the home page. Since everything flows centered, I needed
to reposition it in the right place.*/
#newsDiv{
  display: flexbox;
  justify-content: left;
  position: absolute;
  left: 0px;
  top: 390px;
}
#quoteDiv{
  display: flexbox;
  justify-content: right;
  position: absolute;
  right: 0px;
  top:390px;
}

#quoteImg{
  width: 343px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#quoteImgContainer{
  margin: 0px;
  padding: 0px;
  justify-content: right;
}
#quoteDescription{
  width: 319px;
}

#aboutHeader{
  font-size: 80px;
  margin-top:200px;
  margin-bottom: 20px;
}

#top-right-about-image{
  display: flex;
  position: absolute;
  justify-content: right;
  right: 0px;
  top: 85px;
}

#top-left-about-image{
  display: flex;
  position: absolute;
  left: 0px;
  top: 85px;
  justify-content: left;
}
#bottom-left-about-image{
  display: flex;
  position: absolute;
  left: 0px;
  top: 450px;
  justify-content: left;
}
#bottom-right-about-image{
  display: flex;
  position: absolute;
  justify-content: right;
  right: 0px;
  top: 470px;
}

#about-description{
  display: flex;
  text-align: center;
  height: auto;
  padding: 10px;
  max-width: 40%;
  font-size: 20px;
}


#officer-header{
  font-size: 90px;
}