
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/*
Color Pallette:
rgb(26, 26, 26);
rgb(53, 53, 53);
rgb(87, 87, 87);
rgb(0, 100, 0);
the class below helps to visualize this. other than that it has no purpose
*/
.color-pallette{
  background-color: rgb(26, 26, 26);
  background-color: rgb(53, 53, 53);
  background-color: rgb(87, 87, 87);
  background-color: rgb(0, 255, 0);
}
/*Font Stylings-----------------------------*/
.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 500;
  font-style: normal;
}


/*Body Styling*/
body{
  margin: 0px;
  background-color: rgb(26, 26, 26);
}


h1, h2, h3{
  color:azure;
  
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

li {
  list-style: none;
}


button {
  border-radius: 3em;
  background-color: rgb(65, 65, 65)
}

/*Speacial Classes--------------*/

/*class green: this changes the color of an element's text to green.*/
.green-header{
  color: rgb(0, 255, 0);
}
/*Navbar class. just a class for the navbar. don't expect me to make to many more comments like this...*/
.navbar {
  background-color: rgb(53, 53, 53);
  top: 0px;
  display: flex;
  align-items: center;
  justify-content:center;
 
  margin: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
 
  


  
}

.navbar li{
  margin-left: 40px;
  margin-right: 40px;
}




/*This is an "overlap" class. since I might have multiple elements that will just overlap one thing, 
would rather make a class that has that specification. This will just update the z-index of an element to one. */
.overlap{
  z-index: 1;
}

/*This class is just meant to just center elements. */
.center{
  margin-left: auto;
  margin-right:auto;
}


/*Container Classes*/
/*slanted light-grey banner: this banner is slanted and is meant to contain some text. since I don't know
how to skew a shape without transfroming the entire object, it is meant to hang onto the edge of the screen.
You can change the height though! the "child" class here is needed to unskew the text.*/
.slanted-light-grey-banner{
  background-color: rgb(87, 87, 87);
  width:300px;
  padding: 1px;
  position:absolute;
  left: -3%;
  display: flex;
  justify-content:center;
  transform: skew(-40deg);
 
}

.slanted-light-grey-banner h1{
  transform: skew(40deg);
  margin: 10px;
}

/*ID's---------------------------------*/

/*Bitclub logo ID: this id exists becuase I need to specifically change the bitclub logo, and nothing else needs this styling.
I should note that it takes it's height from the navbar. there is a better way to do this. */
#bitclublogo{
  font-size: 50px;
  width: 37%;
  height: 20%;
  left: 31.5%;
  position: absolute;
  top: 20%
}

/*promoImg: this is for the promotional image on the home page... it will be multiple images combined into to one to emulate a 
"scrolling" effect.
all images need to be the same width and height before they are combined. These dimesnions are 
880 x 664 pixels. Even after this they are scaled down by 0.5. not gonna fix what ain't broke. */
#promoImg{
transform: scale(0.5) translate(-35%, -30%);
border-top-right-radius: 60px;
border-top-left-radius: 60px;
}



#promoHeaderHomePage{
  transform:  translate(5%, 65%);
  font-size: 70px;
  width: 600px;
}

